<section>
  <div class="page-header">
    <h1>{{vm.order._id ? 'Edit Order' : 'New Order'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.orderForm" class="form-horizontal" ng-submit="vm.save(vm.form.orderForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
          <label for="sender">Sender</label>
          <select name="sender" class="form-control" id="sender" ng-model="vm.order.senders" ng-change="vm.changeSender(vm.order.senders)">
            <option value="">Please Select Sender</option>
            <option ng-repeat="item in vm.listsender" value="{{item}}">{{item.name}} {{item.surname}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="addressSender">Address Sender</label>
          <textarea class="form-control" id="addressSender" rows="3">{{vm.senderAddress}}</textarea>
        </div>
        <div class="form-group">
          <label for="receiver">Receiver</label>
          <select name="receiver" class="form-control" id="receiver" ng-model="vm.order.receivers" ng-change="vm.changeReceiver(vm.order.receivers)">
            <option value="">Please Select Receiver</option>
            <option ng-repeat="item in vm.listreceiver" value="{{item}}">{{item.name}} {{item.surname}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="AddressReceiver">Address Receiver</label>
          <textarea class="form-control" id="AddressReceiver" rows="3">{{vm.receiverAddress}}</textarea>
        </div>
        <div class="row form-group">
          <div class="col-md-3">
            <label for="item">Rates</label>
            <select name="item" class="form-control" id="item" ng-model="vm.rate" ng-change="vm.selectRate(vm.rate)">
              <option value="">Please Select Rates</option>
              <option ng-repeat="item in vm.listrates | unique:'rates'" value="{{item.rates}}">{{item.rates}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="sort">Size</label>
            <select name="sort" class="form-control" id="sort" ng-model="vm.size" ng-change="vm.selectSize(vm.size)">
              <option value="default">Please Select Size</option>
              <option ng-repeat="item in vm.listsize" value="{{item}}">{{item.size}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="qty">Qty</label>
            <input type="number" class="form-control" id="qty" placeholder="Qty" ng-model="vm.qty" ng-change="vm.calculate()">
          </div>
          <div class="col-md-2">
            <label for="qty">Price</label>
            <input type="number" class="form-control" id="price" placeholder="Price" ng-model="vm.price">
          </div>
          <div class="col-md-3">
            <label for="total">Total</label>
            <input type="number" class="form-control" id="total" placeholder="Total" ng-model="vm.total">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" ng-click="vm.addItem()">Add Item</button>
          </div>
        </div>
        <div class="row form-group" ng-show="vm.order.items.length > 0">
          <label for="item">Items</label>
        </div>
        <div class="row form-group">
          <div style="margin-top:20px;" ng-show="vm.order.items.length > 0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center" scope="col">No.</th>
                  <th class="text-center" scope="col">Rates</th>
                  <th class="text-center" scope="col">Size</th>
                  <th class="text-center" scope="col">Qty</th>
                  <th class="text-center" scope="col">Price</th>
                  <th class="text-center" scope="col">Total</th>
                  <th class="text-center" scope="col">Remove</th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in vm.order.items" class="text-center">
                  <td scope="row">{{$index+1}}</td>
                  <td>{{item.item.rates}}</td>
                  <td>{{item.item.size}}</td>
                  <td>{{item.qty}}</td>
                  <td>{{item.item.price}}</td>
                  <td>{{item.total}}</td>
                  <td>
                    <button type="button" class="btn btn-danger" ng-click="vm.delItem($index)"><span class="glyphicon glyphicon-trash"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" placeholder="Amount" ng-model="vm.order.amount">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
            <button type="submit"  class="btn btn-success btn-block">{{vm.order._id ? 'Update' : 'Create'}}</button>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>