<section>
  <!-- <div class="page-header">
    <h1>Addresses</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="address in vm.addresses"
       ui-sref="addresses.view({ addressId: address._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="address.created | date:'mediumDate'"></span>
        by
        <span ng-if="address.user" ng-bind="address.user.displayName"></span>
        <span ng-if="!address.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="address.name"></h4>
      <h4 class="list-group-item-heading" ng-bind="address.surname"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.addresses.$resolved && !vm.addresses.length">
    No Addresses yet, why don't you <a ui-sref="addresses.create">create one</a>?
  </div> -->
  <div style="margin-top:20px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Address</th>
          <th scope="col">Subdistrict</th>
          <th scope="col">District</th>
          <th scope="col">Province</th>
          <th scope="col">Postcode</th>
          <th scope="col">Tel</th>
          <th scope="col">Sort</th>

        </tr>
      </thead>
      <tbody ng-repeat="address in vm.addresses">
        <tr ui-sref="addresses.view({ addressId: address._id })">
          <th scope="row">{{$index+1}}</th>
          <td>{{address.name}}</td>
          <td>{{address.surname}}</td>
          <td>{{address.address}}</td>
          <td>{{address.subdistrict}}</td>
          <td>{{address.district}}</td>
          <td>{{address.province}}</td>
          <td>{{address.postcode}}</td>
          <td>{{address.tel}}</td>
          <td>{{address.sort}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
